version: '3.4'

services:
  opcua.web:
    image: ${DOCKER_REGISTRY-}opcuaweb
    build:
      context: .
      dockerfile: OpcUa.Web/Dockerfile
    expose:
      - 80
      - 443
    ports:
      - 5000:80
      - 5001:443
  
